{% extends 'layout.html' %}
{% block title %}CBD - Web Semántica{% endblock %}

{% block content %}

<html lang="en">

<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>artistExample</title>
</head>

<script>

    var globalArtist = "Iron_Maiden";
    var globalAlbum = "";

    function setArtist(value){
        console.log("Artisdt: " + value);
        globalArtist = value;
    };


    function callAjax(index) {

         var defaultData = [];
         $.get({
             url: "/ajaxArtists",
             data:{
                artist:globalArtist
             },
             success: function (dataReceived) {
                 globalResults = dataReceived;
                 var i = 0;
                 var tex = "";

                     tex +=
                    "<thead> " +
                    "<tr>" +
                    "<th> <strong> Albums </strong>  </th>" +
                    "</tr> " +
                    "</thead>" +
                    " <tbody>";
                        for(i = 0; i < dataReceived.album.length; i++){
                         tex += " <tr> <td> <a href=' " + dataReceived.album[i] + " '>" + dataReceived.name[i] + "</a> </td> <td> <button class='btn' onclick='callAjax2(" + i + ")'>Details</button> </td> </tr>";
                        }
                    tex +=
                    "</tbody>" +
                    "</table>";
                    $('#mytable').html(tex).appendTo('#resulttable');
                    document.getElementById("artist-table").style.display ="none";
                    document.getElementById("genre-table").style.display ="none";


             }
         }).fail(function () {
             console.log("pete");
         });
     }

     function callAjax2(name) {
        finalN = globalResults.name[name];
         var defaultData = [];
         $.get({
             url: "/ajaxAlbum",
             data:{
                album:finalN,
                 artist:globalArtist
             },
             success: function (dataReceived) {
                console.log(dataReceived.name[0]);
                 globalResults = dataReceived;
                 var tex = "";

                 $('#mytable').html(tex).appendTo('#resulttable');
                 document.getElementById("value-title").innerHTML = dataReceived.name[0];
                 document.getElementById("value-genre").innerHTML = dataReceived.genre[0];
                 document.getElementById("value-releaseDate").innerHTML = dataReceived.releaseDate[0];
                 document.getElementById("value-abstract").innerHTML = dataReceived.abstract[0];
                 document.getElementById("value-artist").innerHTML = dataReceived.artist[0];

                 document.getElementById("artist-table").style.display ="block";
                 document.getElementById("genre-table").style.display ="none";


             }
         }).fail(function () {
             console.log("pete");
         });
     }

     function callAjax3() {

        document.getElementById("artist-table").display = 'none';

         var globalGenre = document.getElementById("value-genre").innerHTML;
         console.log(globalGenre);
         var defaultData = [];
         $.get({
             url: "/ajaxGenre",
             data:{
                genre:globalGenre
             },
             success: function (dataReceived) {
                 globalResults = dataReceived;
                 var i = 0;
                 var tex = "";

                     tex +=
                    "<thead> " +
                    "<tr>" +
                    "<th> <strong> Groups </strong>  </th>" +
                    "</tr> " +
                    "</thead>" +
                    " <tbody>";
                        for(i = 0; i < dataReceived.groups.length; i++){
                         tex += " <tr> <td> <a href=' " + dataReceived.groups[i] + " '>" + dataReceived.gname[i] + "</a> </td> <td> <button class='btn' onclick='callAjax4("+i+")'>Details</button> </td> </tr>";
                        }
                    tex +=
                    "</tbody>" +
                    "</table>";
                    $('#mytable').html(tex).appendTo('#resulttable');

                    document.getElementById("value-genre-name").innerHTML = dataReceived.name[0];

                    document.getElementById("value-derivatives").innerHTML = "";
                    document.getElementById("value-instruments").innerHTML = "";
                    document.getElementById("value-genre-abstract").innerHTML = dataReceived.abstract[0];


                    for(i = 0; i < dataReceived.derivatives.length; i++){
                        document.getElementById("value-derivatives").innerHTML += dataReceived.derivatives[i] + "<br>";
                    }
                    for(i = 0; i < dataReceived.instruments.length; i++){
                        document.getElementById("value-instruments").innerHTML += dataReceived.instruments[i] + "<br>";
                    }
                    document.getElementById("artist-table").style.display ="none";
                    document.getElementById("genre-table").style.display ="block";


             }
         }).fail(function () {
             console.log("pete");
         });
     }

      function callAjax4(index) {

          globalArtist = globalResults.gname[index];

         var defaultData = [];
         $.get({
             url: "/ajaxArtists",
             data:{
                artist:globalArtist
             },
             success: function (dataReceived) {
                 globalResults = dataReceived;
                 var i = 0;
                 var tex = "";

                     tex +=
                    "<thead> " +
                    "<tr>" +
                    "<th> <strong> Albums </strong>  </th>" +
                    "</tr> " +
                    "</thead>" +
                    " <tbody>";
                        for(i = 0; i < dataReceived.album.length; i++){
                         tex += " <tr> <td> <a href=' " + dataReceived.album[i] + " '>" + dataReceived.name[i] + "</a> </td> <td> <button class='btn' onclick='callAjax2(" + i + ")'>Details</button> </td> </tr>";
                        }
                    tex +=
                    "</tbody>" +
                    "</table>";
                    $('#mytable').html(tex).appendTo('#resulttable');
                    document.getElementById("artist-table").style.display ="none";
                    document.getElementById("genre-table").style.display ="none";


             }
         }).fail(function () {
             console.log("pete");
         });
     }

</script>

<body>
 <script>callAjax()</script>
<div class="row">
<div class="form-group col-sm-2">
          <label for="actor-input">Artist:</label>
          <input type="text" class="form-control" id="actor-input" onchange=setArtist(value)>

          <button class="btn" id="refresh-btn" onclick="callAjax()">Go!</button>
      </div>
  <div class="col-sm-8">
   <div>
       <table class="table" id="mytable">

       </table>

   </div>
       </div>

    <br>
    <br>
    <div class="row" id="artist-table">
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        <strong>Artist</strong>
                    </th>
                    <th id="value-artist"></th>
                </tr>
                <tr>
                    <th>
                        <strong>Title</strong>
                    </th>
                    <th id="value-title"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Genre
                    </th>
                    <th id="value-genre"></th>
                    <th><button class="btn" onclick="callAjax3()">More</button> </th>
                </tr>
                <tr>
                    <th>
                        Release Date
                    </th>
                    <th id="value-releaseDate"> </th>
                </tr>
                <tr>
                    <th>
                        Abstract
                    </th>
                    <th id="value-abstract"> </th>
                </tr>
            </tbody>
        </table>
    </div>

</div>

    <br>
    <div class="row collapse" id="genre-table">
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        <strong>Genre Name</strong>
                    </th>
                    <th id="value-genre-name"></th>
                </tr>
                <tr>
                    <th>
                        <strong>Derivatives</strong>
                    </th>
                    <th id="value-derivatives"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Instruments</th>
                    <th id="value-instruments"></th>
                </tr>
                <tr>
                    <th>Abstract</th>
                    <th id="value-genre-abstract"> </th>
                </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>

{% endblock %}
