{% extends 'layout.html' %}
{% block title %}CBD - Web Semántica{% endblock %}

{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ejemploPeliculas</title>
</head>

<script>

    var globalActor = "Johnny Depp";
    var globalRelated = "Disney";
    var globalResults = [];

    function setActor(value){
        console.log("Actor: " + value);
        globalActor = value;
    };

    function setRelated(value){
        console.log("Related: " + value);

        globalRelated = value;
    };

    function callAjax() {

        if (globalActor == ""){
            glovalActor = "Johnny Depp";
        }


         var defaultData = [];
         $.get({
             url: "/ajaxMovie",
             data:{
                actor:globalActor,
                related:globalRelated
             },
             success: function (dataReceived) {
                 console.log("Holis: " + dataReceived);
                 globalResults = dataReceived;
                 var tex = "";

                     tex +=
                    "<thead> " +
                    "<tr>" +
                    "<th> <strong> Películas </strong>  </th>" +
                    "</tr> " +
                    "</thead>" +
                    " <tbody>";
                        for(x in dataReceived){
                         tex += " <tr>" + "<td> <a href=' " + dataReceived[x] + " '>" + dataReceived[x] + "</a>" + "</td>" + "</tr>";
                        }
                    tex +=
                    "</tbody>" +
                    "</table>";
                    $('#mytable').html(tex).appendTo('#resulttable');

             }
         }).fail(function () {
             console.log("pete");
         });
     }


</script>

<body>
 <script>callAjax()</script>
<div class="row">
<div class="form-group col-sm-2">
          <label for="actor-input">Actor:</label>
          <input type="text" class="form-control" id="actor-input" onchange=setActor(value)>

          <label for="related-input">Relacionado con:</label>
          <input type="text" class="form-control" id="related-input" onchange=setRelated(value)>
            <br>
          <button class="btn" id="refresh-btn" onclick="callAjax()">Buscar</button>
      </div>
  <div class="col-sm-8">
   <div>
       <table class="table" id="mytable">

       </table>

   </div>
       </div>

</div>

<br>
<br>

</body>
</html>

{% endblock %}
